@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Fruktur&family=Poppins:wght@100&display=swap');
 #a1{
     color: blue;
     background-color: brown;
 }
 #a2{
     color: blueviolet;
 }
 main{
     color: rgb(30, 159, 210);
 }
 footer{
     color: coral;
 }
 #pl{
    font-family: 'Ceviche One', cursive;

 }
 #p2{
    font-family: 'Ceviche One', cursive;

 }
 div{
     color: coral;
     width: 200px;
     height:200px;
     background-color: blue;
     margin-left: 300px;
     margin-top: 200px;
 }