@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Poppins:wght@100&display=swap');

#a1{
    color: yellow;
}
.a2{
    color:brown;
}
body{
    background-color: burlywood;
}
header{
    background-color: blue;
}
main{
    background-color: blueviolet;
}
footer{
    background-color: crimson;
    @import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Poppins:wght@100&display=swap');



}
