.row{
    height: 500px;
    width:50%;
    border: solid black 2px;
    position: relative;
    background-color: blueviolet;
}
.col-1{

    background-color: cadetblue;
    position: absolute;
}
.col{
    height: 200px;
    width: 100px;
    border: solid 2px black;
}
.col-2{
    background-color: coral;
    position: absolute;
    left: 105px;
}
.col-3{
    background-color: cyan;
    position: absolute;
    left: 210px;
}
.col-4{
    background-color: darkgreen;
    position: absolute;
    left: 320px;
}
body{
    background-image: url(./The_Godfather\,_The_Game.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}