h1{
    text-align: center;
}
div{
    color: blue;
    height: 100px;
    width: 100px;
}
#a1{

    background-color: brown;
    margin-left: 100px;
    margin-top: 100px;

}
#a2{
    background-color: burlywood;
    margin-left: 227px;
    margin-top: -101px;
}
#a3{
     
    background-color: coral;
    margin-left: 352px;
    margin-top: -100px; 
}
#a4{
    background-color: coral;
    margin-left: 475px;
    margin-top: -100px;

}
#a5{
    background-color: coral;
    margin-left: 601px;
    margin-top: -99px;

}
#a6{
    background-color: blue;
    margin-right: 100px;
    margin-bottom: 100px;
}
#a7{
    background-color: blue;
    margin-left: 130px;
    margin-top: -190px;

}

#a8{
    background-color: blue;
    margin-left: 293;
    margin-top: -94;
}
#a9{
    background-color: blue;
    margin-left: 100px;
    margin-top: 100px;
}
#a10{
    background-color: blue;
    margin-left: 100px;
    margin-top: 100px; */
}
#b1{
    background-color: blueviolet;
    margin-left: 100px;
    margin-top: 100px;
}
