#a1{
    color: crimson;
    background-color: cyan;
    height: 300px;
    width: 400px;
    border:solid 3px;
}
.a2{
    color: darkblue;
    background-color: darkgreen;
    height: 200px;
    width: 500px;
    border: darkred solid 4px;
}